.about {
  padding: 46px 15px 46px;
  background-color: #f4f5f7;
}

.article:last-child {
  margin-top: 20px;
}

.article__title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.article__text {
  margin: 0;
  margin-top: 6px;
  font-size: 22px;
  line-height: 32px;
}

@media (min-width: 400px) {
  .about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 77px 131px 76px 130px;
  }

  .article {
    width: 555px;
  }

  .article:last-child {
    margin-top: 0;
  }
}
