* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1400px;
    min-height: 100vh;
  }
}

.action-button {
  width: 160px;
  height: 48px;

  background-color: #3040c4;
  color: #fff;

  font-size: 18px;
  font-weight: 700;

  border: none;
  border-radius: 2px;

  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset;
}

.learn-more-btn {
  width: 158px;
  height: 48px;

  color: #3040c4;
  background-color: #fff;

  font-size: 18px;
  line-height: 13px;
  font-weight: 700;

  border: none;
  border-radius: 2px;

  box-shadow: $button-shadow;
}
