.customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 106px;
}

.customers__logo {
  filter: brightness(0);
}