.footer-navigation {
  display: flex;
  flex-direction: column;
}

.about-company {
  padding: 40px 0;
  padding-right: 0;
  border-bottom: 1px solid#E3E3E3;
}

.footer__description {
  display: none;
}

.downloads {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}

.downloads__item {
  margin-right: 10px;
}

.downloads__item:last-child {
  margin-right: 0;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.nav-links__title {
  margin: 0;
  margin-top: 30px;
  color: #2b292d;

  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

.nav-links__list {
  margin: 0;
  margin-top: 18px;
  padding: 0;

  color: rgba(43, 41, 45, 0.6);
  font-size: 18px;
  line-height: 30px;

  list-style-type: none;
}

.terms {
  margin: 30px 15px 0;
  font-size: 14px;
  line-height: 22px;
}

.terms__item {
  margin-right: 22px;
  color: rgba(43, 41, 45, 0.6);
  text-decoration: none;
}

.social-links {
  margin: 31px 0 22px;
}

.social-links__item {
  margin-left: 20px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.logo-vertical__title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  opacity: 0.6;
}

@media (min-width: 400px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .logo-vertical {
    display: none;
  }

  .footer-navigation {
    flex-direction: row;
    width: 1140px;
    height: 338px;
    margin: 0 auto;
  }

  .about-company {
    padding: 0;
    border: none;
    margin-top: 43px;
  }

  .footer__description {
    display: block;
    width: 360px;
    line-height: 26px;
    font-size: 18px;
    margin-top: 26px;
    color: rgba(43, 41, 45, 0.6);
  }

  .downloads {
    display: block;
    padding: 0;
    margin-top: 25px;
  }

  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }

  .additional-navigation__column {
    margin-right: 29px;
  }

  .nav-links {
    width: 265px;
  }

  .nav-links__title {
    margin-top: 0;
  }

  .footer__line {
    width: 100%;
    margin: 0;
    border-top: 1px solid #2b292d;
    opacity: 0.1;
  }

  .footer-links {
    display: flex;
    align-items: center;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
  }

  .terms {
    margin-top: 0;
  }

  .social-links {
    margin: 0;
    margin-left: auto;
  }
}

@media (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}
