.top-section {
  padding-top: 39px;
  background-color: #f3c6bd;
}

.header {
  display: flex;
  width: 1140px;
  height: 62px;
  margin: auto;
}

.navigation {
  margin-left: auto;
}

.logo {
  display: flex;
}

.logo__image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2b292d;
}

.logo__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  opacity: 0.6;
}

.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}

.navigation__item {
  margin-right: 50px;
  color: #2b292d;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item_selected {
  font-weight: 700;
}

.navigation__arrow {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 15px;
  background-image: url('../img/arrow.png');
}
