@import "breakpoints";
@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: $main-text-color;
}

.page {
  width: 100%;
  overflow-x: hidden;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1400px;
    min-height: 100vh;
  }
}

.action-button {
  width: 160px;
  height: 48px;
  background-color: $action-button-color;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  box-shadow: $shadow;
  cursor: pointer;
}

@import "header";
@import "headline";
@import "about";
@import "customers";
@import "features";
@import "audience";
@import "order";
@import "footer";
@import "tips";