.tips {
  margin-top: 8px;
}

.tip {
  padding: 40px 15px 0px;
  border-bottom: 1px solid #E3E3E3;
}

.tip:last-child {
  border: none;
}

.tip__subtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  color: #009b4d;
}

.tip__title {
  margin: 0;
  margin-top: 17px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.3571428954601288px;
}

.tip__description {
  margin: 0;
  margin-top: 13px;
  font-size: 24px;
  line-height: 34px;
}

.tip__image {
  margin-top: 29px;
}

.tip__decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}

.tip__image-caption {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  opacity: 0.6;
  max-width: 100%;
}

@media (min-width: 400px) {
  .tips {
    display: none;
  }
}
