$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$color-light: #F4F5F7;
$border-color: #2B292D33;
$text-color-blue: #3142C6;
$color-dark: #2B292D;
$color-light-blue: #00A1C612;

$button-shadow: 0px 4px 6px 0px rgba(0,0,0,0.05), 0px 1px 3px 0px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(255,255,255,0.1) inset;
